#root {
  max-width: 100%;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.app-container {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
}

.product-cards-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.hero {
  background-color: #3f4e8c;
  padding: 80px 20px;
  text-align: center;
  color: white;
}

.cart-section {
  max-width: 800px;
  margin: 40px auto;
  padding: 20px;
  border-top: 1px solid #444;
}

.footer {
  background-color: #3b00ff;
  color: white;
  text-align: center;
  padding: 16px;
  margin-top: 60px;
}
