.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 40px;
  background-color: #1f2937;
  color: white;
}


.header-left h1 {
  margin: 0;
  font-size: 1.6rem;
}


.header-nav {
  display: flex;
  gap: 40px;
}

.header-nav a {
  color: white;
  text-decoration: none;
  font-size: 1rem;
  position: relative;
}

.header-nav a:hover {
  opacity: 0.8;
}


.header-cart {
  position: relative;
}

.cart-icon {
  font-size: 1.5rem;
  color: white;
  text-decoration: none;
  position: relative;
}


.cart-badge {
  position: absolute;
  top: -8px;
  right: -10px;
  background-color: red;
  color: white;
  font-size: 0.75rem;
  padding: 2px 6px;
  border-radius: 999px;
  font-weight: bold;
}
